.project-card .AvatarStack-body {
  background: none !important;
}

.project-card .AvatarStack.AvatarStack--right button {
  border-right: none !important;
  overflow: hidden !important;
  border-radius: 50%;
}
